# ============================================
# KST CMS Environment Configuration
# ============================================

# Backend API Base URL (tanpa trailing slash)
VITE_API_BASE_URL="http://127.0.0.1:8000/api/v1"

# Backend Server URL (untuk akses file/gambar)
VITE_BACKEND_URL="http://127.0.0.1:8000"

# Access Token untuk Konsumsi API Frontend (/kst/...)
VITE_ACCESS_TOKEN="7f2b9a4c1d8e03f56a9b8c2d1e4f7a0b3c5d6e8f9a0b1c2d3e4f5a6b7c8d9e0f"
